input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
  -webkit-appearance: none;
  margin: 0;
}

/* Firefox */
input[type=number] {
  -moz-appearance: textfield;
}

.form-control:focus {
    box-shadow: none;
}

.pilar-header {
    margin-bottom: 10px;
}

thead tr th{
    background-color: #51607c!important;
    color: white!important;
}

table {
    table-layout: fixed;
    word-wrap: break-word;
}
.f-14{
    font-size: 14px;
}
.show-highlights{
    cursor: pointer;
}