.area-reunion{
    margin-right: 0.25rem !important;
    background: rgb(0, 139, 0);
    cursor: pointer;
}
.area-reunion:hover {
    background: #ffffff;
    color: rgb(0, 0, 0)!important;
}
.day-cell:hover{
    background: #246cab;
    color: rgb(255, 255, 255);
    cursor: pointer;
}
.d-week:hover{
    background: #f3f3f3;
    cursor: pointer;
}
#travel_calendar_month th{
    padding: 0!important;
}
#travel_calendar_month td{
    padding: 0!important;
}
#travel_calendar_month th p{
    min-width: 80px;
}
td.day-cell {
    height: 125px;
}
#form-area-sel .form-group{
    max-width: fit-content;
}

#form_schedule input.form-control.read-clear[readonly] {
    background-color: inherit;
}

#form_schedule textarea.form-control[readonly] {
    background-color: inherit;
}

.old-file {
    display: inline-flex;
    width: 100%;
    height: 38px;
    flex-direction: row;
    align-content: center;
    align-items: stretch;
    border: 1px solid #ccc;
    border-radius: 5px;
    background-color: #f5f5f5;
}
.file-section {
    flex: 1 0;
}
.file-action {
    flex: 0 1 35px;
    height: 100%;
    padding: 3px;
}
.action-buttons {
    height: 100%;
    padding: 3px 7px;
    text-align: center;
    border-radius: 5px;
}
.action-buttons:hover{
    cursor: pointer;
}
.action-buttons.bg-danger:hover{
    background-color: #b14949!important;
}
.action-buttons.bg-success:hover{
    background-color: #0d6c14!important;
}

.filename {
    overflow: hidden;
    height: 100%;
    text-overflow: ellipsis;
    width: 100%;
    padding: 7px 5px;
}

.file-name {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}