body{
    font-family: arial, sans-serif;
}
table{
    border-collapse: collapse;
    width: 100%;
}

table.table td, table.table th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}